<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <app-seleccionar-cliente 
        [nombre]="clienteSeleccionado.nombre" 
        (seleccionoCliente)="asignarCliente($event)"
        (canceloCliente)="eliminarCliente()">
      </app-seleccionar-cliente>

      <div class="form-group">
        <label>Precio</label>
        <select 
          [(ngModel)]="idPrecio"
          (change)="seleccionarPrecio($event.target.value)"
          class="form-control">
          <option [value]="null">Seleccione Precio</option>
          <option *ngFor="let precio of precios" [value]="precio.id">{{ precio.nombre }}</option>
        </select>
      </div>
      <div class="form-group">
          <label for="">Fecha inicio</label>
          <input type="text" [value]="inscripcion.fecha | date" class="form-control" disabled>
      </div>
  
      <div class="form-group">
          <label for="">Fecha Finaliza</label>
          <input type="text" [value]="inscripcion.fechaFinal | date" class="form-control" disabled>
      </div>
      <div class="form-group">
        <label for="">Sub Total</label>
        <input type="number" class="form-control" [value]="inscripcion.subTotal" disabled>
      </div>
      <div class="form-group">
        <label for="">ISV</label>
        <input type="number" class="form-control" [value]="inscripcion.isv" disabled>
      </div>
      <div class="form-group">
        <label for="">Total</label>
        <input type="number" class="form-control" [value]="inscripcion.total" disabled>
      </div>
      <button class="btn btn-primary" (click)="guardar()">Guardar</button>
    </div>
    <div class="col-sm-6">
      <div *ngIf="clienteSeleccionado.urlImg" class="imgCliente">
          <img [src]="clienteSeleccionado.urlImg" alt="">
      </div>
    </div>

  </div>
</div>