<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Nombre Empleado</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
          <label for="">Apellido Empleado</label>
          <input type="text" class="form-control" >
      </div>
      <div class="form-group">
        <label for="">Fecha de Nacimiento</label>
        <input type="date" class="form-control" placeholder="Agregue Fecha de Nacimiento"> 
      </div>
      <div class="form-group">
        <label for="">Fecha de Ingreso</label>
        <input type="date" class="form-control" placeholder="Agregue Fecha de Ingreso"> 
      </div>
      <div class="form-group">
        <label for="">Importe AFP</label>
        <input type="number" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Cargo</label>
        <input type="number" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Sueldo</label>
        <input type="number" class="form-control">
      </div>
      <button class="btn btn-primary" (click)="guardar()">Guardar</button>
    </div>

  </div>
</div>