<div class="container mt-5">
  <form action="">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control" placeholder="Agregue el nombre">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Apellido</label>
          <input type="text" class="form-control" placeholder="Agregue el apellido" >
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Fecha de Nacimiento</label>
          <input type="date" class="form-control" placeholder="Agregue Fecha de Nacimiento" > 
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Fecha de Ingreso</label>
          <input type="date" class="form-control" placeholder="Agregue Fecha de Ingreso" > 
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Importe AFP</label>
          <input type="text" class="form-control" placeholder="AFP">
        </div>
      </div>
      <br>  
      <button class="btn btn-primary" (click)="editar()">Editar</button>
    </div>
  </form>
</div>